@{
    ViewData["Title"] = "Artists";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@model AggregationService.Models.ModelsForView.ArtistList;


<h2>Исполнители</h2>

<p>
    <a id="submitButtonAdd" class="pointer">Добавить нового артиста</a>
</p>
@{
    var token = new Byte[500];
    Context.Session.TryGetValue("Token", out token);
    var login = new Byte[500];
    Context.Session.TryGetValue("Login", out login);
    string tokenStringJS = "test";
    if (login == null || (login != null && System.Text.Encoding.Default.GetString(login) == ""))
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#submitButtonAdd').click(function () {
                    alert("you must be authorized!");
                });
            });
        </script>

    }
    if (token != null && System.Text.Encoding.Default.GetString(token) != "")
    {
        tokenStringJS = System.Text.Encoding.Default.GetString(token);
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
                var tkn = "@tokenStringJS";
                //_________________________________________________________________
                $(document).ready(function () {
                    $('#submitButtonAdd').click(function () {
                        $.ajax({
                            url: "https://localhost:44336/Artist/AddArtist",
                            type: 'GET',
                            contentType: 'application/json',
                            headers: {
                                "Authorization": "Bearer " + tkn
                            },
                            async: false,
                            success: function (html) {
                                $(window.document.body).html(html);
                            }
                        });
                    });
                });
        </script>
    }
}

<form>
    @for (int i = 1; i < @Model.countArtists / 10 + 2; i++)
    {
        string text = i.ToString();
        //@Html.ActionLink(text, "Index", "Artist", new { id = i }, new { id = "submitButton" + i });
        string targetid = "submitButton" + i;
        string targeturi = "https://localhost:44336/Artist/" + i;
        <a id="@targetid" class="pointer">@i</a>
        if (login == null || (login != null && System.Text.Encoding.Default.GetString(login) == ""))
        {
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#@targetid').click(function () {
                        alert("you must be authorized!");
                    });
                });
            </script>

        }
        if (token!= null && System.Text.Encoding.Default.GetString(token) != "")
        {
            tokenStringJS = System.Text.Encoding.Default.GetString(token);
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>
                var tkn = "@tokenStringJS";
                //_________________________________________________________________
                $(document).ready(function () {
                    $('#@targetid').click(function () {
                        $.ajax({
                            url: "@targeturi",
                            type: 'GET',
                            contentType: 'application/json',
                            headers: {
                                "Authorization": "Bearer " + tkn
                            },
                            async: false,
                            success: function (html) {
                                $(window.document.body).html(html);
                            }
                        });
                    });
                });
            </script>
        }
        Write("  ");
    }
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Имя Исполнителя
            </th>
            <th>
                Рейтинг на Last.fm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastFmRating)
                </td>
                <td>

                    @*<a asp-action="Edite" asp-route-id="@item.ID">Edit</a> |*@
                    @{
                        string text = item.ID.ToString();

                        string targetid = "submitButtonEdit" + item.ID;
                        string targeturi = "https://localhost:44336/Artist/Edite/" + item.ID;
                    }
                    <a id="@targetid" class="pointer">Edit</a> 
                    @if (login == null || (login != null && System.Text.Encoding.Default.GetString(login) == ""))
                    {
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('#@targetid').click(function () {
                                alert("you must be authorized!");
                            });
                        });
                    </script>

                    }
                    @if (token!= null && System.Text.Encoding.Default.GetString(token) != "")
                    {
                    tokenStringJS = System.Text.Encoding.Default.GetString(token);
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>
                            var tkn = "@tokenStringJS";
                            //_________________________________________________________________
                            $(document).ready(function () {
                                $('#@targetid').click(function () {
                                    $.ajax({
                                        url: "@targeturi",
                                        type: 'GET',
                                        contentType: 'application/json',
                                        headers: {
                                            "Authorization": "Bearer " + tkn
                                        },
                                        async: false,
                                        success: function (html) {
                                            $(window.document.body).html(html);
                                        }
                                    });
                                });
                            });
                        </script>
                    }


                    @*<a asp-action="Edite" asp-route-id="@item.ID">Edit</a> |*@
                    @{
                        string text1 = item.ID.ToString();

                        string targetid1 = "submitButtonDelete" + item.ID;
                        string targeturi1 = "https://localhost:44336/Artist/Delete/" + item.ID;
                    }
                    <a id="@targetid1" class="pointer">Delete</a> 
                    @if (login == null || (login != null && System.Text.Encoding.Default.GetString(login) == ""))
                    {
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>
                        $(document).ready(function () {
                            $('#@targetid1').click(function () {
                                alert("you must be authorized!");
                            });
                        });
                        </script>

                    }
                    @if (token != null && System.Text.Encoding.Default.GetString(token) != "")
                    {
                        tokenStringJS = System.Text.Encoding.Default.GetString(token);
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>
                            var tkn = "@tokenStringJS";
                            //_________________________________________________________________
                            $(document).ready(function () {
                                $('#@targetid1').click(function () {
                                    $.ajax({
                                        url: "@targeturi1",
                                        type: 'GET',
                                        contentType: 'application/json',
                                        headers: {
                                            "Authorization": "Bearer " + tkn
                                        },
                                        async: false,
                                        success: function (html) {
                                            $(window.document.body).html(html);
                                        }
                                    });
                                });
                            });
                        </script>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

